.hero-home {
  text-align: center;

  .title-layout {
    &:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
    
    .blog-image-container {
      display: block;
      text-align: center;
      margin-bottom: 25px;
      .blog-image {
        max-height: 100px;
      }
    }

    .header-box {
      padding: 1.5em 1em 1em 1em;
      background: rgba(0,0,0,0.3);
    }
    
    .align-block {
      vertical-align: middle;
      color: #fff;

      h1 {
        display: inline-block;
        font-size: 3em;
        letter-spacing: 0em;
        text-transform: uppercase;
        padding: 10px 20px;
        border: solid 3px #fff;
        font-family: 'Muli', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
      }

      p {
        margin-top: 1em;
        margin-bottom: 0;
        font-family: 'Merriweather', serif;
        font-weight: 300;
        font-style: italic;
        font-size: 1.1em;
      }
    }
  }
  
  .main-menu {
    display: block;
    padding: 0;
    list-style-type: none;
    margin-top: 30px;
    li {
      display: inline-block;
      padding: 0 25px;
      text-transform: uppercase;
      font-size: 14px;
      
      &:not(:last-child) {
        border-right: solid 2px #fff;
      }
      
      @media (max-width: @screen-xs-max) {
        padding: 0 8px;
      }
      
      a {
        color: #fff;
        transition: all 0.2s linear;
        
        &:hover, &:active, &:focus {
          border-bottom: solid 1px #fff;
        }
      }
    }
  }
}

.hero-home-fade {
  opacity: 0.35;
}


.background-white {
  background: #fff;
}

@media screen and (max-width: 500px) {
  .hero-home {
    .title-layout {
      .align-block {
        h1 {
          font-size: 32px;
        }

        p {
          font-size: 20px;
          margin-bottom: 0px;
        }
      }
    }
  }
}