.pagination {
  text-align: center;
  font-size: 12px;
  padding: 0 30px;
  margin-top: 20px;
  display: block;  
  
  .newer-posts {
    text-align: left;
  }
  
  .older-posts {
    text-align: right;
  }
  
  @media only screen and (max-width: 500px) {
    padding: 0 5px;
    font-size: 10px;
  }
}