ul.post-list {
  padding: 0 30px;
  margin-top: 30px;
  list-style: none;
  list-style-image: none;

  li {
    display: list-item;
  }
  
  @media only screen and (max-width: 500px) {
    padding: 0 5px;
  }
}


.list-item {
  &:last-child .post-list-item{
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.post-list-item {
  border-bottom: 1px solid #f2f2f0;
  padding: 40px 0;

  .post-item-title {
    margin-bottom: 14px;
  }

  .post-item-meta {
    font-size: 14px;
    color: #b3b3b1;
    font-weight: 400;

    a {
      font-weight: 600;
      color: inherit;

      &:hover, &:focus {
        color: darken(#b3b3b1, 30%);
      }
    }
    
    img {
      display: inline;
    }
  }
  
  img {
    display: block;
    margin: auto;
    max-width: 100%;
    
    &.inline {
      margin: 0;
    }
    
    // hide cover image
    &[alt='COVER_IMAGE'] {
      display: none;
    }
  }
}

.post-list-avatar, .story-list-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}