@import "../../components/bootstrap/less/bootstrap";

.ScrollSceneIndicators {
  z-index: 5000;
}

@import "./mtheme-ronald/site-nav";
@import "./mtheme-ronald/pagination";
@import "./mtheme-ronald/blog-header";
@import "./mtheme-ronald/post-list-item";
@import "./mtheme-ronald/post-header";
@import "./mtheme-ronald/post";
@import "./mtheme-ronald/blog-footer";

// @main_font_color: #333332;
@main_font_color: #646464;

// FIXME - include Muli font

@font-face {
  font-family: 'Muli';
  src: url('../fonts/muli-bold-webfont.eot');
  src: url('../fonts/muli-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/muli-bold-webfont.woff') format('woff'),
       url('../fonts/muli-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Avenir', 'Muli', sans-serif;
  font-weight: 300;
  color: @main_font_color;
  font-size: 18px;
  line-height: 1.4;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: @main_font_color;
  text-decoration: none;
  transition: color 0.2s linear;
  
  &:hover {
    color: lighten(@main_font_color, 25%);
    text-decoration: none;
  }
}

#scrollPinOne {
  position: absolute;
  top: 50%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.fill-height {
  height: 100%;
}

.mtheme-container {
  overflow: hidden;
  background: #eee;
  height: 100%;

  .surface {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    .screen-content {
      position: relative;
      overflow: auto;
      height: 100%;
      -webkit-overflow-scrolling: touch;

      .image-header {
        height: 100%;

        .image-source {
          background: url(../images/cover.jpg) no-repeat center center;
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
      
      .tag-button-container {
        text-align: center;
        margin-top: 60px;
        .tag-button {
          padding: 8px 20px;
          border-radius: 100px;
          background: #b3b3b1;
          color: #fff;
          a {
            color: darken(#fff, 15%);
            &:active,&:hover {
              color: #fff;
            }
          }
        }
      }

      .header-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        color: #fff;
      }

      .foreground {
        position: relative;
        overflow: auto;
        z-index: 100;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
  
  footer {
    display: block;
    background: #e4e8e9;
    margin-top: 40px;
  }
}

.header-down-arrow {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: -8px;
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0.65;
  color: #fff;
  text-shadow: 0 0 5px @main_font_color;

  &:hover, &:active {
    opacity: 0.85;
  }
  
  &.dark {
    color: @main_font_color;
    opacity:0.85;
    text-shadow: 0 0 5px #fff;
    &:hover, &:active {
      opacity: 0.45;
    }
  }
}

spoiler {
  display: inline;
  background: @main_font_color;
  color: @main_font_color;
  transition: background 0.2s linear;
  cursor: pointer;
  
  &:hover, &:active {
    background: none;
  }
}
