@import "../../components/bootstrap/less/bootstrap";
// @import "../../components/font-awesome/less/font-awesome";
// @import (less) "../../components/highlightjs/styles/dark.css";

// @fa-font-path: "../../components/font-awesome/fonts";
// 
.ScrollSceneIndicators {
  z-index: 5000;
}

@import "./mtheme-ronald/site-nav";
@import "./mtheme-ronald/blog-header";
@import "./mtheme-ronald/blog-footer";
@import "./mtheme-ronald/post-list-item";
@import "./mtheme-ronald/post-header";
@import "./mtheme-ronald/post";

@main_font_color: #333332;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: @main_font_color;
  font-size: 18px;
  line-height: 1.4;
  font-smoothing: antialiased;
  letter-spacing: -0.02em;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: -0.04em;
}

a {
  color: @main_font_color;

  &:hover {
    color: @main_font_color;
    text-decoration: none;
  }
}

#scrollPinOne {
  position: absolute;
  top: 50%;
}

#mtheme-home-container{
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.fill-height {
  height: 100%;
}

.mtheme-container {
  overflow: hidden;
  background: #EEE;
  height: 100%;

  .surface {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    .screen-content {
      position: relative;
      overflow: auto;
      height: 100%;

      .image-header {
        height: 100%;

        .image-source {
          background: url(../images/cover.jpg) no-repeat center center;
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        .image-source-blur {
          background: url(../images/cover_blur.jpg) no-repeat center center;
          background-size: cover;
          opacity: 0.0;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          &.image-source-blur-visible {
            opacity: 1.0;
          }
        }
      }

      .header-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        // bottom: 100px;
        // padding-top: 100px;
        // padding-bottom: 20px;
        color: #fff;
      }

      .foreground {
        position: relative;
        overflow: auto;
        z-index: 100;
      }
    }
  }
}

.header-down-arrow {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: -8px;
  border: 2px solid rgba(255,255,255,0.35);
  background: rgba(0,0,0,0);
  border-left: 0;
  border-top: 0;
  outline: 0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: border 0.2s ease;
  
  &:hover, &:active {
    border: 2px solid rgba(255,255,255,0.65);
    border-left: 0;
    border-top: 0;
    outline: 0;
    transform: rotate(45deg);
  }
}